<form action="">
    <div class="row">
        <div class="col">*必填欄位</div>
        <div class="col">請輸入你的支出</div>
    </div>
    <div class="row">
        <div class="col">名稱*:</div>
        <div class="col"><input type="text"></div>
    </div>
</form>