<form action="">
    <div class="row">
        <div class="col-2"><small>*必填欄位</small></div>
        <div class="col-10"><center style="font-size: 20px;">請修改你的支出</center></div>
    </div>
    <div class="row my-4">
        <div class="col-2"><label for="name">名稱*:</label></div>
        <div class="col-10"><input type="text" class="form-control" id="name"></div>
    </div>
    <div class="row my-4">
        <div class="col-2"><label for="date">日期*:</label></div>
        <div class="col-10"><input type="date" class="form-control" id="date"></div>
    </div>
    <div class="row my-4">
        <div class="col-2"><label for="category">類別*:</label></div>
        <div class="col-10"><input type="text" class="form-control" id="category"></div>
    </div>
    <div class="row my-4">
        <div class="col-2"><label for="amount">金額*:</label></div>
        <div class="col-10"><input type="text" class="form-control" id="amount"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
            <center><button type="submit" class="btn btn-warning btn-lg" style="width: 200px">送出</button></center>
        </div>
    </div>
</form>