<div class="form">
    <form action="/records/{{record.id}}/edit?_method=PUT" method="POST">
        <center style="font-size: 30px;">修改支出</center>
        <div class="row my-4">
            <div class="col-2"><label for="name">名稱*:</label></div>
            <div class="col-10">
                <input type="text" class="form-control" id="name" name="name" value="{{record.name}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="date">日期*:</label></div>
            <div class="col-10">
                <input type="date" class="form-control" id="date" name="date" value="{{date}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="category">類別*:</label></div>
            <div class="col-10">
                <select class="form-control" id="category" name="category">
                    <option {{#ifEquals record.category '家居物業'}} selected {{/ifEquals}}>家居物業</option>
                    <option {{#ifEquals record.category '交通出行'}} selected {{/ifEquals}}>交通出行</option>
                    <option {{#ifEquals record.category '休閒娛樂'}} selected {{/ifEquals}}>休閒娛樂</option>
                    <option {{#ifEquals record.category '餐飲食品'}} selected {{/ifEquals}}>餐飲食品</option>
                    <option {{#ifEquals record.category '其他'}} selected {{/ifEquals}}>其他</option>
                </select>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="amount">金額*:</label></div>
            <div class="col-10">
                <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}">
            </div>
        </div>
        {{>messages}}
        <center><button type="submit" class="btn btn-warning btn-lg" style="width: 200px">送出</button></center>
    </form>
</div>