<div class="row">
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle form-control" data-toggle="dropdown">月份</button>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="">一月</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="dropdown">
            <button class="btn btn-outline-dark dropdown-toggle form-control" data-toggle="dropdown">類別</button>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="">家居物業</a>
                <a class="dropdown-item" href="">交通出行</a>
                <a class="dropdown-item" href="">休閒娛樂</a>
                <a class="dropdown-item" href="">餐飲食品</a>
                <a class="dropdown-item" href="">其他</a>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-8">
        <div class="row">
            <div class="col mr-auto"><h5>總金額:</h5></div>
            <div class="col"><h1>6000</h1></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="row" style="background-color:#d6d6d6;">
            <div class="col-auto my-auto">
                <i class="fas fa-utensils fa-2x"></i>
            </div>
            <div class="col-auto mr-auto">
                Thai J 
                <div><small>2020/06/08</small></div> 
            </div>
            <div class="col-auto my-auto">2000</div>
        </div>
    </div>
    <div class="col-4 my-auto">
        <button class="btn btn-primary">修改</button>
        <button class="btn btn-danger">刪除</button>
    </div>
</div>
<div class="col-8 my-3">
    <center><button class="btn btn-warning btn-lg" type="submit" style="width: 200px">新增收入</button></center>
</div>  
