
<div class="dropdown show">
  <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    月份
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
  </div>
</div>
<h6>總金額:</h6>
<h1 style="color:orange;">25</h1>

<div class="row">
    <div class="col-auto" style="background-color:#E8E8E8;"><i class="fas fa-utensils"></i></div>
    <div class="col-auto" style="background-color:#E8E8E8;">午餐</div>
    <div class="col-auto" style="background-color:#E8E8E8;">2019/2/5</div>
    <div class="col-auto" style="background-color:#E8E8E8;">60</div>
    <div class="col">
        <button type="button" class="btn btn-primary">修改</button>
        <button type="button" class="btn btn-danger">刪除</button>
    </div>
</div>
<button type="button" class="btn btn-warning mt-3">新增支出</button>

