<div class="form">
    <form action="/records/new" method="POST">
        <center>
            <input type="button" class="btn deposit-unchecked" id="deposit" onclick="record(this)" value="收入">
            <input type="button" class="btn deduct-checked" id="deduct" onclick="record(this)" value="支出">
            <input type="hidden" name="balance" id="balance" value="支出">
        </center>     
        <div class="row my-4">
            <div class="col-2"><label for="date">日期*:</label></div>
            <div class="col-10">
                <input type="date" class="form-control" id="date" name="date" value="{{date}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="category">類別*:</label></div>
            <div class="col-10">
                <select class="form-control" id="category" name="category">
                </select>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="amount">金額*:</label></div>
            <div class="col-10">
                <input type="number" class="form-control" id="amount" name="amount" value="{{amount}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="billName">名稱*:</label></div>
            <div class="col-10">
                <input type="text" class="form-control" id="billName" name="name" value="{{name}}">
            </div>
        </div>
        {{>messages}}
        <center><button id="submit" type="submit" class="btn btn-warning btn-lg" style="width: 200px">送出</button></center>
    </form>
</div>

<script src="/index.js"></script>