<div class="form">
    {{#if deposit}} 
    <form action="/records/new/deposit" method="POST">
    <input style="display: none;" type="string" name="balance" value="deposit">
    <a href="/records/new/deposit" type="button" class="btn btn-warning" name="balance" value="deposit" id="deposit-btn">收入</a>
    <a href="/records/new/deduct" type="button" class="btn btn-outline-warning" name="balance" value="deduct" id="deduct-btn">支出</a>
    {{/if}}
    {{#if deduct}} 
    <form action="/records/new/deduct" method="POST">
    <input style="display: none;" type="string" name="balance" value="deduct">
    <a href="/records/new/deposit" type="button" class="btn btn-outline-warning" name="balance" value="deposit" id="deposit-btn">收入</a>
    <a href="/records/new/deduct" type="button" class="btn btn-warning" name="balance" value="deduct" id="deduct-btn">支出</a>
    {{/if}}        
        <div class="row my-4">
            <div class="col-2"><label for="date">日期*:</label></div>
            <div class="col-10">
                <input type="date" class="form-control" id="date" name="date" value="{{date}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="category">類別*:</label></div>
            <div class="col-10">
                <select class="form-control" id="category" name="category">
                    {{#if deduct}} 
                    <option {{#ifEquals category '家居物業'}} selected {{/ifEquals}}>家居物業</option>
                    <option {{#ifEquals category '交通出行'}} selected {{/ifEquals}}>交通出行</option>
                    <option {{#ifEquals category '休閒娛樂'}} selected {{/ifEquals}}>休閒娛樂</option>
                    <option {{#ifEquals category '餐飲食品'}} selected {{/ifEquals}}>餐飲食品</option>
                    <option {{#ifEquals category '其他'}} selected {{/ifEquals}}>其他</option>
                    {{/if}}   
                    {{#if deposit}}   
                    <option value="薪水" {{#ifEquals category "薪水"}} selected {{/ifEquals}}>薪水</option>
                    <option value="獎金" {{#ifEquals category "獎金"}} selected {{/ifEquals}}>獎金</option>
                    <option value="紅利" {{#ifEquals category "紅利"}} selected {{/ifEquals}}>紅利</option>
                    <option value="其他" {{#ifEquals category "其他"}} selected {{/ifEquals}}>其他</option>
                    {{/if}}   
                </select>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="amount">金額*:</label></div>
            <div class="col-10">
                <input type="number" class="form-control" id="amount" name="amount" value="{{amount}}">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-2"><label for="name">名稱*:</label></div>
            <div class="col-10">
                <input type="text" class="form-control" id="name" name="name" value="{{name}}">
            </div>
        </div>
        {{>messages}}
        <center><button type="submit" class="btn btn-warning btn-lg" style="width: 200px">送出</button></center>
    </form>
</div>

<script src="/index.js"></script>