<form action="">
    <div class="row">
        <small>*必填欄位</small>
        <div class="col">請輸入你的支出</div>
    </div>
    <div class="row my-3">
        <label for="name">名稱*:</label>
        <div class="col"><input type="text" class="form-control" id="name"></div>
    </div>
    <div class="row my-3">
        <label for="date">日期*:</label>
        <div class="col"><input type="date" class="form-control" id="date"></div>
    </div>
    <div class="row my-3">
        <label for="category">類別*:</label>
        <div class="col"><input type="text" class="form-control" id="category"></div>
    </div>
    <div class="row my-3">
        <label for="amount">金額*:</label>
        <div class="col"><input type="text" class="form-control" id="amount"></div>
    </div>
    <button type="submit" class="btn btn-warning">新增支出</button>
</form>