<div class="card m-auto form">
    <div class="card-body">
        <center><h1 class="card-title mb-4">註冊</h1></center>
        <form action="/users/register" method="POST">
            <div class="form-group mb-4">
                <label for="name">姓名</label>
                <input type="string" class="form-control" id="name" name="name" placeholder="請輸入姓名">
            </div>
            <div class="form-group mb-4">
                <label for="email">帳號</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="請輸入信箱">
            </div>
            <div class="form-group mb-4">
                <label for="password">密碼</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼">
            </div>
             <div class="form-group mb-4">
                <label for="password2">確認密碼</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="再次確認密碼">
            </div>
            {{>messages}}
            <center><button type="submit" class="btn btn-register btn-lg">註冊</button></center>
        </form>
    </div>
</div>
